<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.DeptMapper">
<!-- type：映射结果的类型	 -->
	<resultMap type="dept" id="deptMap">
		<!-- id:主键字段映射 -->		
		<id column="deptno" property="deptno"/>
		<!-- result:非主键字段映射	 -->
		<result column="dname" property="dname"/>
		<result column="loc" property="loc"/>
		<!-- 封装集合 ofType:集合中对象类型  column:关联字段	 -->
		<collection property="emps" ofType="emp" column="deptno" >
			<id column="empno" property="empno"/>
			<result column="ename" property="ename"/>
			<result column="job" property="job"/>
			<result column="mrg" property="mrg"/>
			<result column="hiredate" property="hiredate"/>
		</collection>
	</resultMap>
	
	<select id="findDeptAndEmp" resultMap="deptMap">
		select * from dept left join emp on emp.deptno = dept.deptno
	</select>
	
</mapper>