<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.EmpMapper">
<!-- type：映射结果的类型	 -->
	<resultMap type="emp" id="empMap">
		<id column="empno" property="empno"/>
		<result column="ename" property="ename"/>
		<result column="job" property="job"/>
		<result column="mgr" property="mgr"/>
		<result column="hiredate" property="hiredate"/>
		<result column="sal" property="sal"/>
		<result column="comm" property="comm"/>
		<result column="deptno" property="deptno"/>
		<!-- 封装集合 ofType:集合中对象类型  column:关联字段	 -->
		<collection property="dept" javaType="dept" column="deptno" >
			<!-- id:主键字段映射 -->		
			<id column="deptno" property="deptno"/>
			<!-- result:非主键字段映射	 -->
			<result column="dname" property="dname"/>
			<result column="loc" property="loc"/>
		</collection>
	</resultMap>
	
	<select id="findEmpandDept" resultMap="empMap">
		select * from emp left join dept on emp.deptno = dept.deptno
	</select>
	
</mapper>